MONGODB_URL=mongodb+srv://harshitprakash:harshit12345@cluster0.udmoolg.mongodb.net
PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=nedjihb38789f84hi3biyud98uB@u8t48ybhb847h8b4hb6@H@BiygjKJDCKNU#iBHKJBIHBKJBIIBGVYTYVJHBH#2VGVHGvhgv@3VG2V#vh@gVJHV3JH2GHvjug$hjhvjhvb@ev@jeb@vvcjv@ebh@gejh@ge@ef@xeh@6BJS8
REFRESH_TOKEN_EXPIRY= 10d
